# PyTorch and Vision
torch==2.0.0
torchvision==0.15.0
torchaudio==2.0.0

# Core ML Libraries
timm==0.4.12
monai
accelerate==0.18.0

# Medical Imaging
SimpleITK
nibabel

# Data Processing
numpy
pandas
scikit-learn
opencv-python
Pillow
tqdm

# Utilities
easydict
pyyaml
objprint==0.2.3
pathlib
openpyxl

# Visualization & Logging
matplotlib
tensorboard
seaborn

# Jupyter (optional)
jupyter
ipykernel
tqdm
Pillow